<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/dei_logo.png" type="image/x-icon">
    <title>DEI CMT</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
            <%- include('partials/dashboard/header') %>

    <div class="container">

    <h4>
        Co-Author Requests
    </h4>
    <h6>Submission Title: <%= submission.title %></h6><hr>
<% if(result && result.length > 0) { %>
    <table class="table">
    <tr>
        <td>
<b>Co-Author</b>

</td>
<td><b>Action</b></td>
    </tr>

    <% result.forEach(function(result){ %>

<tr>
<td>
    
    <%=result.co_author %> 
</td>
<td>

     <% if(result.status=="Accepted") { %>
  <p class="small"> This request was ACCEPTED.</p> 
   
    <form method="POST" action="/remove-co-author/<%= result.co_author %>" style="display: inline;">
                                <button type="submit" style="width:300px" class="btn btn-danger" title="Remove Co-Author">
                                 Remove Co-Author <i class="bi bi-exclamation-triangle-fill"></i>
                                </button>
                                <br>
                              </form>

                              <%} else if (result.status=="Rejected")  { %>
                            
                            <p class="small">This Request was REJECTED. If you think this request was rejected by mistake, please ask <%= result.co_author %> to send a new request.</p>
                           
    <% } else { %>



    <form method="POST" action="/co-author-request/accept/<%= result.request_id %>" style="display: inline;">
                                <button type="submit" style="width:300px" class="btn btn-outline-success" title="Accept">
                                 Accept Request <i class="bi bi-check-circle-fill"></i>
                                </button>
                                <br>
                              </form>
                               <form method="POST" action="/co-author-request/reject/<%= result.request_id %>" style="display: inline;">
                                <button type="submit" style="width:300px" class="btn btn-outline-danger" title="Reject">
                                  Reject Request <i class="bi bi-x-circle-fill"></i>
                                </button>
                              </form>
                                <% } %>
</td>
</tr>
</table>

    <% }) } else { %>
<h6><i class="bi bi-emoji-frown-fill"></i> No one has requested to join your paper!</h6>
        <% } %>

            </div>

                        <%- include('partials/footer') %>


</body>

<script src="/script.js"></script>
</html>