<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
    <link rel="stylesheet" href="/styles.css" />
    
  </head>
  <body>
    <%- include('partials/header') %>
  <div class="container">
    <h2>Welcome to DEI Conference Management Toolkit!</h2><hr>

    
        <div class="welcome-content" id="active-conferences">
       
          <h4>Active Conferences</h4>
          <% if (conferences && conferences.length > 0) { %> <%
          conferences.forEach(function(conference) { %>

          <div class="card mb-3">
            <div class="card-header">
              <b><%= conference.title %></b>
              <!-- or whatever fields you have -->
            </div>
            <div class="card-body">
              <table
                class="table table-bordered"
                border="1"
                style="width: 100%"
              >
                <tr>
                  <td colspan="3">
                    <p align="justify"><%= conference.description %></p>
                  </td>
                </tr>

                <tr>
                  <td>Conference Timeline</td>
                  <td>
                    Start Date: <br /><b
                      ><%= conference.conference_start_date %></b
                    >
                  </td>
                  <td>
                    End Date: <br /><b><%= conference.conference_end_date %></b>
                  </td>
                </tr>

                <tr>
                  <td>
                    Full Paper Submission: <br /><b
                      ><%= conference.full_paper_submission %></b
                    >
                  </td>
                  <td>
                    Acceptance Notification: <br /><b
                      ><%= conference.acceptance_notification %></b
                    >
                  </td>
                  <td>
                    Final Camera Ready Paper Submission: <br /><b
                      ><%= conference.camera_ready_paper_submission %></b
                    >
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <% }); %> <% } else { %>
          <h4>There are No Active Conferences at the moment.</h4>
          <% } %>
        </div>
      </div>
    



    <script src="/script.js"></script>
    </div>
    <%- include('partials/footer') %> 
  </body>
</html>
