<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>
    <link rel="shortcut icon" href="/dei_logo.png" type="image/x-icon" />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- MDB -->

    <%- include('partials/dashboard/header') %>
    <div class="container">
      <% if (message) { %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      <h6>
        Submit Final Camera Ready Paper for your submission titled
        <b><%= submission.title %></b>
      </h6>
      <hr />
      <form
        action="/final-camera-ready-submission"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <input
            type="text"
            readonly
            hidden
            value="<%=submission.submission_id %>"
            name="id"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
          />

          <input
            type="text"
            readonly
            hidden
            value="<%=submission.conference_id %>"
            name="confid"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
          />

          <input
            type="text"
            readonly
            hidden
            value="<%=submission.title %>"
            name="title"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
          />

          <input
            type="text"
            readonly
            hidden
            value="<%=submission.abstract %>"
            name="abstract"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
          />

          <input
            type="text"
            readonly
            hidden
            value="<%=submission.track_id %>"
            name="areas"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
          />

          <input
            type="text"
            readonly
            hidden
            value="<%=submission.co_authors %>"
            name="co_authors"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
          />
        </div>

        <table class="table">
          <tbody>
            <tr>
              <th>Title</th>
              <th>Abstract</th>
              <th>Area</th>
              <th>Co-Authors</th>
              <th>Review Remarks</th>
            </tr>
            <tr>
              <td><%= submission.title %></td>
              <td><%= submission.abstract %></td>
              <td><%= submission.track_name %></td>
              <td><%= submission.co_authors %></td>

              <td><%= submission.remarks %></td>
            </tr>
          </tbody>
        </table>

        <div class="form-group">
          <label for="exampleFormControlFile1"
            >Upload Final Camera Ready Paper
          </label>
          <input type="file" required class="form-control-file" name="file" />
        </div>
        <input type="submit" class="btn btn-outline-primary" value="Submit" />
      </form>
      <div class="container px-5 my-5"></div>
      <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

      <!-- Spinner Modal -->
      <div
        class="modal fade"
        id="loadingModal"
        tabindex="-1"
        aria-hidden="true"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content bg-transparent border-0 shadow-none">
            <div
              class="modal-body d-flex justify-content-center align-items-center"
            >
              <div
                class="spinner-border text-primary"
                style="width: 3rem; height: 3rem"
                role="status"
              >
                <span class="visually-hidden"
                  >Please wait...submitting data.</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/script.js"></script>
  </body>
</html>
