<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEI CMT | Virtual Poster Presentation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <center><h3>VIRTUAL POSTER PRESENTATION</h3>
       </center><HR>

       <div class="card">
  <h5 class="card-header"><%= conference.title %></h5>
  <div class="card-body">
    <p class="card-text" align="justify">

      <table class="table">
        <tr>
          <th>
            DATE
          </th>
          <th>
            START TIME
          </th>
          <th>END TIME</th>
        </tr>
        <tr>
          <td><%= poster.date %></td>
          <td><%= poster.start_time %></td>
          <td><%= poster.end_time %></td>
        </tr>
      
        
      </table>          <p class="small">(Please note, all timings are in IST (Indian Standard Time).</p>

    </p>
  </div>
</div>
        
        
         
        <hr>
<% if(posters && posters.length>0){ %>

  <table>
    <tr>
      <th>TITLE</th>
      <th>AUTHORS</th>
      <th>LINK TO POSTER</th>
      <th>LINK TO VIDEO</th>
    </tr>
  
    <% poster.forEach(function(posters) { %>

      <div class="card">
  <div class="card-header">
    <%= poster.primary_author %><%= poster.co_authors %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= poster.title %></h5>
    <p class="card-text"><video src="<%= poster.video %>" width="50%"></video></p>
    <a href="<%=poster.file_url %>" class="btn btn-primary">View Poster</a> <form action="/upvote-poster/<%=poster.submission_id %>"><button class="btn btn-primary">Upvote Poster</button></form>
  </div>
</div>
    
    <% }) %>
  </table>

<% } else {  %>

<p class="small">There are no poster to display as of now. If you think this is an error please report to the conference chair (<a href="mailto:<%= conference.created_by %>"><%= conference.created_by %></a>)</p>
  <% } %>
    </div>
    <%-include('partials/footer') %>
</body>
</html>