<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEI CMT | Virtual Poster Presentation</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <center><h3>VIRTUAL POSTER PRESENTATION</h3>
       </center><HR>

       <div class="card">
  <h5 class="card-header"><%= conference.title %></h5>
  <div class="card-body">
    <p class="card-text" align="justify">

      <table class="table">
        <tr>
          <th>
            DATE
          </th>
          <th>
            START TIME
          </th>
          <th>END TIME</th>
        </tr>
        <tr>
          <td><%= poster.date %></td>
          <td><%= poster.start_time %></td>
          <td><%= poster.end_time %></td>
        </tr>
      
        
      </table>          <p class="small">(Please note, all timings are in IST (Indian Standard Time).</p>

    </p>
  </div>
</div>
        
        
         
        <hr>
<% if(posters && posters.length>0){ %>
    <% poster.forEach(function(posters) { %>

        <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
    
    <% }) %>

<% } else {  %>

<p class="small">There are no poster to display as of now. If you think this is an error please report to the conference chair (<a href="mailto:<%= conference.created_by %>"><%= conference.created_by %></a>)</p>
  <% } %>
    </div>
    <%-include('partials/footer') %>
</body>
</html>