<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEI CMT | Update Password</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/header') %>
<div class="container">
    <h4>Update Password</h4>
    <h6>Email ID: <%=result.email%></h6>
<hr>
    <form action="/update-password" method="post">
        <input type="hidden" name="token" value="<%=result.token%>">
        <input type="hidden" name="email" value="<%= result.email%>">
<input style="width:300px" name="new_password" placeholder="New Password" class="form-control" type="password" required name="new_password">
<input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>  

    <%- include('../partials/footer') %>

</body>
</html>