<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"
      integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="header-left">
        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
        <div class="logo">
          <img src="/dei_logo.png" alt="DEI" />
        </div>
      </div>

      <div class="header-right">
        <a href="/logout" class="btn btn-outline-dark" role="button"> Logout</a>
      </div>
    </header>

    <main>
      <div class="welcome-section">
        <div class="welcome-content">
          <div class="welcome-header">
            <h1>Welcome to DEI Conference Management Toolkit!</h1>
          </div>
        </div>
      </div>

      <div class="quick-access">
        <h1>Manage Conferences</h1>
        <a href="/chair/create-new-conference" class="btn btn-success"
          ><i class="bi bi-plus-circle"></i> Create Conference</a
        >
        <hr>
        <% if (conferences && conferences.length > 0) { %> <%
        conferences.forEach(function(conference) { %>
        <table class="table" border="1">
          <tbody>
            <tr>
              <td rowspan="2"><b>Title</b></td>
              <td colspan="2"><b>Conference Timeline</b></td>
              <td rowspan="2"><b>Full Paper Submission</b></td>
              <td rowspan="2"><b>Acceptance Notification</b></td>
              <td rowspan="2"><b>Final Camera Ready Paper Submission</b></td>
              <td rowspan="2"><b>Action</b></td>
            </tr>
            <tr>
              <td><b>Start Date</b></td>
              <td><b>End Date</b></td>
            </tr>
            <tr>
              <td><%= conference.title %></td>
              <td><%= conference.conference_start_date %></td>
              <td><%= conference.conference_end_date %></td>
              <td><%= conference.full_paper_submission %></td>
              <td><%= conference.acceptance_notification %></td>
              <td><%= conference.camera_ready_paper_submission %></td>
              <td>
                <a href="/chair/dashboard/view-submissions/<%= conference.id %>" class="btn btn-primary"
                  ><i class="bi bi-eye-fill"></i
                ></a>
                <br /><br />
                <a href="/chair/dashboard/manage-sessions/<%= conference.id %>" class="btn btn-info"
                  ><i class="bi bi-person-fill-gear"></i></a
                >
                <br /><br />
                <a href="/chair/dashboard/edit-conference/<%= conference.id %>" class="btn btn-warning"
                  ><i class="bi bi-pencil-square"></i></a
                >
                
                
                
                <br /><br />
                <a href="/chair/dashboard/delete-conference/<%= conference.id %>" class="btn btn-danger"
                  ><i class="bi bi-trash3-fill"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <% }); %> <% } else { %>
        <h2>No conferences to show.</h2>
        <% } %>
      </div>
    </main>

    <script src="/script.js"></script>
    <footer
      class="footer bg-dark text-white text-center py-3"
      style="position: relative; left: 0; bottom: 0; width: 100%; z-index: 1030"
    >
      Copyright Dayalbagh Educational Institute. All rights reserved.
      <br />Powered by DEI Multimedia Laboratory / Centre
    </footer>
  </body>
</html>
