<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>

    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" href="/dei_logo.png" type="image/x-icon" />
  </head>
  <body>
    <%- include('../partials/dashboard/header') %>

    

    <div class="container">
      
      <h4>Welcome <%= user.name %> (<%= user.email %>)!</h4>
      <hr />
      <h4>Manage Conferences</h4>
      <a href="/chair/create-new-conference" class="btn btn-success"
        ><i class="bi bi-plus-circle"></i> Create Conference</a
      >
      <hr />
      <% if (conferences && conferences.length > 0) { %> <%
      conferences.forEach(function(conference) { %>

        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<b><%= conference.title %></b>      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">

           <table style="text-align: center;" class="table" border="1">
        <tbody>
          <tr>
            <td colspan="2"><b>Conference Timeline</b></td>
            <td rowspan="2"><b>Full Paper Submission</b></td>
            <td rowspan="2"><b>Acceptance Notification</b></td>
            <td rowspan="2"><b>Final Camera Ready Paper Submission</b></td>
            <td rowspan="2"><b>Deadline for Peer Review</b></td>

            <td rowspan="2"><b>Action</b></td>
          </tr>
          <tr>
            <td><b>Start Date</b></td>
            <td><b>End Date</b></td>
          </tr>
          <tr>
            <td><%= conference.conference_start_date %></td>
            <td><%= conference.conference_end_date %></td>
            <td><%= conference.full_paper_submission %></td>
            <td><%= conference.acceptance_notification %></td>
            <td><%= conference.camera_ready_paper_submission %></td>
            <td><%=conference.deadline_peer_review %></td>
            <td>

              <a
                href="/chair/dashboard/manage-tracks/<%= conference.conference_id %>"
                class="btn btn-primary btn-uniform"
                >Manage Tracks</a><br>
              <a
                href="/chair/dashboard/view-submissions/<%= conference.conference_id %>"
                class="btn btn-primary btn-uniform"
                >View Submissions</a>
              <br />
              <a
                href="/chair/dashboard/manage-sessions/<%= conference.conference_id %>"
                class="btn btn-primary btn-uniform"
                >Oral Presentation
              </a>
              <br />
              <a
                href="/chair/dashboard/manage-poster-sessions/<%= conference.conference_id %>"
                class="btn btn-primary btn-uniform"
                >Poster Presentation</a>
              <br />
              <a
                href="/chair/dashboard/invited-talks/<%= conference.conference_id %>"
                class="btn btn-primary btn-uniform"
                >Invited Talks </a>
              <br />
              <a
                href="/chair/dashboard/edit-conference/<%= conference.conference_id %>"
                class="btn btn-warning btn-uniform"
                >Edit Conference </a>

              <br />
              <a
                href="/chair/dashboard/delete-conference/<%= conference.conference_id %>"
                class="btn btn-danger btn-uniform"
                >Delete Conference </a>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
    </div>
  </div>
  

</div>
      <% }); %> <% } else { %>
      <h6><i class="bi bi-emoji-frown-fill"></i> You have not initiated any conference!</h6>
      <% } %>

      <script src="/script.js"></script>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
