<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>
    <link rel="stylesheet" href="/styles.css">
    
  </head>
  <body>

    <%- include('../partials/dashboard/header') %>

      <div class="container">
        <h4>Set Session</h4><hr>

        <form
          action="/chair/dashboard/set-session/<%= trackid %>"
          method="POST"
        >
          <table class="table table-striped">
            <tr>
              <td>Session Date</td>
              <td>Start Time</td>
              <td>End Time</td>
              <td>Panelists</td>
            </tr>
            <tr>
              <td>
                <input
                  class="form-control"
                  type="date"
                  name="session_date"
                  value="<%= track.presentation_date %>"
                  required
                />
              </td>
              <td>
                <input
                  class="form-control"
                  type="time"
                  name="start_time"
                  value="<%= track.presentation_start_time %>"
                  required
                />
              </td>

              <td>
                <input
                  class="form-control"
                  type="time"
                  name="end_time"
                  value="<%= track.presentation_end_time %>"
                  required
                />
              </td>

              <td>
                <textarea
                  class="form-control"
                  name="panelists"
                  placeholder="Email IDs of the Panelists...seperated by comma"
                  required
                ><%= track.panelists %></textarea>
              </td>
            </tr>
          </table>
          <input type="hidden" name="conference_id" value="<%= track.conference_id %>"
          <br />
          <% if (track.status == "Scheduled") { %>
  <input type="submit" class="btn btn-outline-success" value="Update" />
<% } else { %>
  <input type="submit" class="btn btn-outline-primary" value="Save" />
<% } %>
        </form>

    <!-- Spinner Modal -->
    <div
      class="modal fade"
      id="loadingModal"
      tabindex="-1"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0 shadow-none">
          <div
            class="modal-body d-flex justify-content-center align-items-center"
          >
            <div
              class="spinner-border text-primary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="visually-hidden"
                >Please wait...submitting data.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.querySelector("form").addEventListener("submit", function () {
        var loadingModal = new bootstrap.Modal(
          document.getElementById("loadingModal")
        );
        loadingModal.show();
      });
    </script>

  </div>
   
    <%- include('../partials/footer') %>

  </body>
</html>
