<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>DEI CMT</title>
</head>
<body>
    <%-include('../partials/dashboard/header') %>
    <div class="container">
    <h4>Manage Tracks</h4>
    <h6>Conference: <%= conference.title %></h6>
    <hr>
  
    <form action="/create-track/<%=conference.conference_id %>" method="post" clas="form-control">
        <div class="mb-3">

        <input class="form-control" type="text" name="track_title" placeholder="Title of the Track"></div>
        <div class="mb-3">
<textarea class="form-control" name="reviewers" placeholder="Email IDs of the Reviewers"></textarea></div>

<div class="mb-3">
    <lable class="form-label">Session Date</lable>
            <input class="form-control" type="date" name="session_date" placeholder="Session Date">

</div>

<div class="mb-3">
        <lable class="form-label">Session Start Time</lable>

            <input class="form-control" type="time" name="session_start_time" placeholder="Session Start Time">

</div>

<div class="mb-3">
        <lable class="form-label">Session End Time</lable>

            <input class="form-control" type="time" name="session_end_time" placeholder="Session End Time">

</div>

<div class="mb-3">
<textarea class="form-control" name="session_chairs" placeholder="Email IDs of the Session Chairs"></textarea>

</div>



<div class="mb-3">
<input class="btn btn-success" type="submit" value="Add Track"></div>
    </form>

  <hr>

       <% if (tracks && tracks.length > 0) { %>
  <table class="table table-bordered">
    <tr>
      <th>Title of the Track</th>
      <th>Reviewers</th>
      <th colspan="3">Session Schedule</th>
      <th>Session Chair</th>
      <th>Action</th>
    </tr>

    <% tracks.forEach(function(track) { %>
      <tr>
        <form method="POST" action="/chair/dashboard/update-track/<%= track.track_id %>">

          <td>
            <input
              class="form-control"
              type="text"
              name="track_title"
              value="<%= track.track_name %>"
              required
            >
          </td>

          <td>
            <textarea
              class="form-control"
              name="reviewers"
              placeholder="Comma separated emails"
              required
            ><%= track.track_reviewers %></textarea>
          </td>

          <td>
            <input
              type="date"
              class="form-control"
              name="session_date"
              value="<%= track.presentation_date || '' %>"
              required
            >
          </td>

          <td>
            <input
              type="time"
              class="form-control"
              name="start_time"
              value="<%= track.presentation_start_time %>"
              required
            >
          </td>

          <td>
            <input
              type="time"
              class="form-control"
              name="end_time"
              value="<%= track.presentation_end_time %>"
              required
            >
          </td>

          <td>
            <textarea
              class="form-control"
              name="panelists"
              placeholder="Comma separated names"
              required
            ><%= track.panelists %></textarea>
          </td>

          <td>
            <button type="submit" class="btn btn-warning mb-1">
              Update
            </button>
            <br>
            <a
              class="btn btn-danger"
              href="/chair/dashboard/delete-track/<%= track.track_id %>"
            >
              Delete
            </a>
          </td>

        </form>
      </tr>
    <% }) %>
  </table>

<% } else { %>
  <h6>
    <i class="bi bi-emoji-frown-fill"></i>
    No Tracks have been created for this conference!
  </h6>
<% } %>

    </div>

    <%-include('../partials/footer') %>

</body>
<script src="/script.js"></script>
</html>