<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
    <%-include('../partials/dashboard/header') %>

      <div class="container">
        <h4>Manage Sessions</h4>
        <h6>Conference: <%= conference.title %></h6>
        <hr />
        
          <% if (tracks && tracks.length > 0) { %> <%
          tracks.forEach(function(track, idx) { // Find the count for this track
          var trackCount = 0; if (count && count.length > 0) { var found =
          count.find(function(tc) { return tc.area === track.track_name; }); if
          (found) trackCount = found.count; } %>
          <div class="card">
            <div class="card-body">
              <b><%= track.track_name %></b>
              <span class="badge bg-info text-dark" style="float: right">
                Submissions: <%= trackCount %>
              </span><br>
              <h6><a href="/panelist/active-session/<%= track.track_id %>">Session Link</a></h6>
           
              <br />
              <i
                >Reviewer: <% if (Array.isArray(track.track_reviewers)) { %> <%=
                track.track_reviewers.join(", ") %> <% } else { %> <%=
                track.track_reviewers %> <% } %> </i
              ><br /><br>
              <table class="table" border="1">
  <thead>
    <tr>
      <th scope="col">Session Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Panelists</th>
    </tr>
  </thead>
  <tbody>
  
      <td>
        <%= track.presentation_date %>
      </td>
      <td>
        <%= track.presentation_start_time %>
      </td>
      <td>
       <%= track.presentation_end_time %>
      </td>
      <td>
        <%= track.panelists %>
      </td>
    </tr>
  </tbody>
</table>
              <a href="/chair/dashboard/edit-sessions/<%= track.track_id %>"
                class="btn btn-warning"
                role="button"
                >Edit <i class="bi bi-pencil-square"></i></a>
               
             

             
            
            </div>
          </div>
          <% }); %> <% } else { %>
          <h6>There are no tracks in this conference, please go back to the dashboard and click on 'Edit Conference' icon to add sessions.</h6>
          <% } %>
          <br />
          
       

       
      </div>
    <div
      class="modal fade"
      id="loadingModal"
      tabindex="-1"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0 shadow-none">
          <div
            class="modal-body d-flex justify-content-center align-items-center"
          >
            <div
              class="spinner-border text-primary"
              style="width: 3rem; height: 3rem"
              role="status"
            >
              <span class="visually-hidden"
                >Please wait...submitting data.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="/script.js"></script>

 <%-include('../partials/footer') %>
  </body>
</html>
