<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEI CMT</title>
    <link rel="shortcut icon" href="/dei_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../partials/dashboard/header') %>
    <div class="container">
        <h4>Welcome, <%= user.name %> (<%=user.email %>)</h4>

      <h6>My Tracks</h6><hr>
      <% if (tracks && tracks.length > 0) { %>
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th>Track Name</th>
              <th>Conference Title</th>
            </tr>
          </thead>
          <tbody>
            <% tracks.forEach(function(track) { %>
            <tr>
              <td><%= track.track_name %></td>
              <td><%= track.conference ? track.conference.title : 'Conference Title' %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h6 class="text-muted">No Tracks have been assigned to you.</h6>
      <% } %>

      <h6>Review Submissions</h6>
      <% if (userSubmissions && userSubmissions.length > 0) { %> <%
      userSubmissions.forEach(function(submission) { %>

      <table class="table table-bordered">
        <tr>
          <td>Paper Title</td>
          <td>Action</td>
        </tr>
        <tr>
          <td><%= submission.title %></td>
          <td>
            <% if (submission.submission_status=="Reviewed" ||
            submission.submission_status=="Submitted Final Camera Ready Paper" || submission.submission_status=="Presentation Completed" )
            { %>
            <b><i class="bi bi-check-circle-fill"></i> Reviewed</b>
            <% } else { %>
            <a
              type="button" 
              class="btn btn-success"
              href="/reviewer/dashboard/review/<%= submission.paper_code %>"
              ><i class="bi bi-box-arrow-in-right"></i> &nbsp; Start Review</a
            >
          </td>
          <% } %>
        </tr>
      </table>

      <% }); %> <% } else { %>
      <h6>No Submissions Found</h6>
      <% } %>
    </div>
    <script src="/script.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>
